.header {
  display: flex;
  height: 144px;
  background-color: var(--color-first-100);
  align-items: center;
  justify-content: space-around;
  padding: 32px 40px;

  contain: layout style;

  @media (max-width: 652px) {
    height: auto;
    padding: 24px 32px;
  }

  @media (max-width: 375px) {
    justify-content: center;
    height: auto;
    padding: 16px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding: 24px 40px;
    border-radius: 16px;
    border: 2px var(--color-gray-200) solid;
    background-color: var(--color-base-white);

    @media (max-width: 652px) {
      justify-content: center;
      padding: 16px 24px;
    }
  }

  &__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 160px;

    @media (max-width: 652px) {
      display: none;
    }
  }
}
