.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 160px 80px;

  @media (max-width: 1280px) {
    padding: 128px 80px;
  }

  @media (max-width: 652px) {
    padding: 128px 32px;
  }

  @media (width < 652px) {
    padding: 64px 32px;
  }

  &__questions {
    // max-width: 500px;
  }

  &__container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    flex-direction: row;
    padding: 0px;
    gap: 80px;
    justify-content: space-between;

    @media (width < 1440px) {
      padding: 0px;
    }

    @media (max-width: 1280px) {
      flex-direction: column-reverse;
      gap: 64px;
    }

    h4 {
      padding-bottom: 32px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    p {
      color: var(--color-gray-400);
    }

    @media (max-width: 1280px) {
      width: 100%;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @media (max-width: 1280px) {
        flex-direction: column;
      }
    }
  }

  &__userJourney {
    ul {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    @media (width < 652px) {
      p {
        font-size: 0.875rem; // 14px
        line-height: 1.3125rem; // 21px
        font-weight: 500;
      }
    }
  }
}
