:root {
  /* Base Colors */
  --color-base-white: #ffffff;
  --color-base-black: #000000;

  /* First Colors */
  --color-first-100: #e4f0ff;
  --color-first-200: #99cbff;
  --color-first-300: #09a8f9;
  --color-first-400: #0581c1;
  --color-first-500: #025c8c;
  --color-first-600: #013a5a;
  --color-first-700: #001a2c;

  /* Second Colors */
  --color-first-100: #dfe7fb;
  --color-first-200: #a6bff3;
  --color-first-300: #6499ec;
  --color-first-400: #3b74c1;
  --color-first-500: #27528a;
  --color-first-600: #153156;
  --color-first-700: #051327;

  /* Gray Colors */
  --color-gray-100: #eeeff0;
  --color-gray-200: #c4c7ca;
  --color-gray-300: #9ca0a4;
  --color-gray-400: #787b7e;
  --color-gray-500: #56585a;
  --color-gray-600: #353738
  --color-gray-700: #18191a;

  /* Special Colors */
  --color-special-shadow: rgba(41, 41, 41, 0.2);
  --color-special-gradient: linear-gradient(180deg, #0571C1 0%, #025C8C 100%);
}
