.contacts {
  display: flex;
  background-color: var(--color-first-100);
  padding: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (max-width: 1280px) {
    padding: 80px 80px;
  }

  @media (width < 652px) {
    padding: 64px 32px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 80px;
    max-width: 1280px;
    justify-content: space-between;

    // @media (max-width: 1024px) {
    //   gap: 80px;
    // }

    @media (max-width: 652px) {
      flex-direction: column-reverse;
    }
  }

  &__time {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__map {
    width: 50%;

    iframe {
      border: 0;
      border-radius: 8px;
    }

    @media (width < 1024px) {
      width: 100%;
      height: auto;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;

    @media (width < 1024px) {
      width: 100%;
      justify-content: space-between;
      height: auto;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .info-element {
      display: flex;
      flex-direction: row;
      max-width: 300px;
      gap: 16px;
      align-items: center;
      color: var(--color-gray-400);

      &__extra {
        display: flex;
        flex-direction: row;
        max-width: 300px;
        gap: 16px;
        align-items: flex-start;
        color: var(--color-gray-400);
      }
    }
  }
}
