.CS {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  background-color: var(--color-first-100);

  .CS-container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;

    .CS-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .CS-header {
      padding: 0px 16px;

      .CS-description {
        max-width: 579px;
        height: auto;
      }
    }

    .CS-cards {
      display: grid;
      grid-template-columns: 1fr 1fr; // две колонки одинаковой ширины
      grid-template-rows: 1fr 1fr; // две строки (создаются автоматически, если 4 элемента)
      gap: 24px; // расстояние между карточками
      width: 100%;
      // при необходимости ограничь max-width
      // max-width: 900px;
      // margin: 0 auto;
    }
  }
}
